<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/blog/static/css/blog.css">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="main-block grid">
        <div class="product-image grid">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Rem quod perspiciatis maiores provident expedita voluptates porro non, delectus dolore placeat at cumque officia illum dolorum debitis dignissimos facere?
        </div>
        <div class="desription grid">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Nobis numquam laboriosam fuga voluptas odit molestias modi vel dolorum omnis, sint impedit nisi explicabo. 
            Iste quaerat harum nihil rerum sit unde!
        </div>
        
    </div>
</body>
</html>